body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.navigation {
  background-color: #fff;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navi-item{
color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.navi-item:hover{
color:#404bbf;
}
.navi-item:focus{
    color: #404bbf;
}

.logo-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link:hover{
    color: #404bbf ;
}
.logo-link-tile {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.strongs{
    text-align: center;
}
.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}
.connection {
color: #434455
}
.connection:hover{
color: #404bbf;
}
.connection:focus{
    color: #404bbf;
}


   

.hero {
  background-color: #2e2f42;
}
.hero-header {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

.order-button {
    font-family: "Roboto", sans-serif;
  color: #fff;
cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
}
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus{
    background-color: #404bbf;
}

.strength {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.strength .str-text {
  color: #434455 ;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.strongs-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}
.str-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.team-list-item {
  color: #2e2f42;
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
}

.portfolio {
  background-color: #fff;
}
.portfolio-header {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  
}
.portfolio-list-item{
    background-color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
  text-transform: capitalize;

}
.paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}




.footer {
 font-family: "Relaway", sans-serif;
  background: #2e2f42;
}
.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo-link-tile-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
